<a href="https://colab.research.google.com/github/shailendra-repo/Python/blob/main/Introduction_to_time_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Time Series

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline


pd.set_option('display.max_rows',10)
pd.set_option('display.max_columns',10)
pd.set_option('display.notebook_repr_html',False)
pd.set_option('precision',7)

import datetime
from datetime import datetime

### Time-series data and the DatetimeIndex

In [6]:
# create a a DatetimeIndex from an array of datetime's

dates = [datetime(2014,8,1), datetime(2014,8,2)]
dti = pd.DatetimeIndex(dates)
dti

DatetimeIndex(['2014-08-01', '2014-08-02'], dtype='datetime64[ns]', freq=None)

In [7]:
# a Series given a datetime list will automatically create
# a DatetimeIndex as its index

np.random.seed(123456)
ts = pd.Series(np.random.randn(2),dates)
type(ts.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [8]:
ts

2014-08-01    0.4691123
2014-08-02   -0.2828633
dtype: float64

In [10]:
ts[datetime(2014,8,2)]

-0.2828633443286633

In [12]:
ts['2014-8-2']

-0.2828633443286633

In [13]:
# create a Series with a DatetimeIndex using strings as dates
np.random.seed(123456)
dates = ['2014-08-01', '2014-08-02']
ts = pd.Series(np.random.randn(2), dates)
ts

2014-08-01    0.4691123
2014-08-02   -0.2828633
dtype: float64

In [14]:
ts.index

Index(['2014-08-01', '2014-08-02'], dtype='object')