<a href="https://colab.research.google.com/github/shailendra-repo/Python/blob/main/Learning_Pandas_Reshaping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reshaping, Reorganizing and Aggregation

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns',10)
pd.set_option('display.max_rows',10)
pd.set_option('precision',3)

In [7]:
msft = pd.read_csv('msft.csv', index_col=['Date'], parse_dates=True)
aapl= pd.read_csv('aapl.csv', index_col=['Date'], parse_dates=True)

In [8]:
msft.head()

             Open   High    Low  Close    Volume  Adj Close
Date
2012-01-03  26.55  26.96  26.39  26.77  64731500     24.422
2012-01-04  26.82  27.47  26.78  27.40  80516100     24.997
2012-01-05  27.38  27.73  27.29  27.68  56081400     25.252
2012-01-06  27.53  28.19  27.53  28.11  99455500     25.644
2012-01-09  28.05  28.10  27.72  27.74  59706800     25.307

In [9]:
aapl.head()

              Open    High     Low   Close    Volume  Adj Close
Date
2012-01-03  409.40  412.50  409.00  411.23  75555200     55.414
2012-01-04  410.00  414.68  409.28  413.44  65005500     55.711
2012-01-05  414.95  418.55  412.67  418.03  67817400     56.330
2012-01-06  419.77  422.75  419.22  422.40  79573200     56.919
2012-01-09  425.50  427.75  421.35  421.73  98506100     56.829

In [10]:
msft[:5]

             Open   High    Low  Close    Volume  Adj Close
Date
2012-01-03  26.55  26.96  26.39  26.77  64731500     24.422
2012-01-04  26.82  27.47  26.78  27.40  80516100     24.997
2012-01-05  27.38  27.73  27.29  27.68  56081400     25.252
2012-01-06  27.53  28.19  27.53  28.11  99455500     25.644
2012-01-09  28.05  28.10  27.72  27.74  59706800     25.307

In [11]:
aapl[:5]

              Open    High     Low   Close    Volume  Adj Close
Date
2012-01-03  409.40  412.50  409.00  411.23  75555200     55.414
2012-01-04  410.00  414.68  409.28  413.44  65005500     55.711
2012-01-05  414.95  418.55  412.67  418.03  67817400     56.330
2012-01-06  419.77  422.75  419.22  422.40  79573200     56.919
2012-01-09  425.50  427.75  421.35  421.73  98506100     56.829

# Reorganizing and reshaping data

### Concatenating date in Multiple DataFrame objects

In [14]:
msftA1 = msft['2012-01'][['Adj Close']]
msftA2 = msft['2012-01'][['Adj Close']]
msftA1[:5]

            Adj Close
Date
2012-01-03     24.422
2012-01-04     24.997
2012-01-05     25.252
2012-01-06     25.644
2012-01-09     25.307