<a href="https://colab.research.google.com/github/shailendra-repo/Python/blob/main/Learning_Pandas_Reshaping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reshaping, Reorganizing and Aggregation

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns',10)
pd.set_option('display.max_rows',10)
pd.set_option('precision',3)

In [7]:
msft = pd.read_csv('msft.csv', index_col=['Date'], parse_dates=True)
aapl= pd.read_csv('aapl.csv', index_col=['Date'], parse_dates=True)

In [8]:
msft.head()

             Open   High    Low  Close    Volume  Adj Close
Date
2012-01-03  26.55  26.96  26.39  26.77  64731500     24.422
2012-01-04  26.82  27.47  26.78  27.40  80516100     24.997
2012-01-05  27.38  27.73  27.29  27.68  56081400     25.252
2012-01-06  27.53  28.19  27.53  28.11  99455500     25.644
2012-01-09  28.05  28.10  27.72  27.74  59706800     25.307

In [9]:
aapl.head()

              Open    High     Low   Close    Volume  Adj Close
Date
2012-01-03  409.40  412.50  409.00  411.23  75555200     55.414
2012-01-04  410.00  414.68  409.28  413.44  65005500     55.711
2012-01-05  414.95  418.55  412.67  418.03  67817400     56.330
2012-01-06  419.77  422.75  419.22  422.40  79573200     56.919
2012-01-09  425.50  427.75  421.35  421.73  98506100     56.829

In [10]:
msft[:5]

             Open   High    Low  Close    Volume  Adj Close
Date
2012-01-03  26.55  26.96  26.39  26.77  64731500     24.422
2012-01-04  26.82  27.47  26.78  27.40  80516100     24.997
2012-01-05  27.38  27.73  27.29  27.68  56081400     25.252
2012-01-06  27.53  28.19  27.53  28.11  99455500     25.644
2012-01-09  28.05  28.10  27.72  27.74  59706800     25.307

In [11]:
aapl[:5]

              Open    High     Low   Close    Volume  Adj Close
Date
2012-01-03  409.40  412.50  409.00  411.23  75555200     55.414
2012-01-04  410.00  414.68  409.28  413.44  65005500     55.711
2012-01-05  414.95  418.55  412.67  418.03  67817400     56.330
2012-01-06  419.77  422.75  419.22  422.40  79573200     56.919
2012-01-09  425.50  427.75  421.35  421.73  98506100     56.829

# Reorganizing and reshaping data

### Concatenating date in Multiple DataFrame objects

In [14]:
msftA1 = msft['2012-01'][['Adj Close']]
msftA2 = msft['2012-01'][['Adj Close']]
msftA1[:5]

            Adj Close
Date
2012-01-03     24.422
2012-01-04     24.997
2012-01-05     25.252
2012-01-06     25.644
2012-01-09     25.307

In [15]:
msftA2[:5]

            Adj Close
Date
2012-01-03     24.422
2012-01-04     24.997
2012-01-05     25.252
2012-01-06     25.644
2012-01-09     25.307

In [17]:
pd.concat([msftA1[:5],msftA2[:5]])

            Adj Close
Date
2012-01-03     24.422
2012-01-04     24.997
2012-01-05     25.252
2012-01-06     25.644
2012-01-09     25.307
2012-01-03     24.422
2012-01-04     24.997
2012-01-05     25.252
2012-01-06     25.644
2012-01-09     25.307

In [18]:
aaplA01 = aapl['2012-01'][['Adj Close']]

In [24]:
withDups = pd.concat([msftA1[:3], aaplA01[:3]])

In [25]:
withDups

            Adj Close
Date
2012-01-03     24.422
2012-01-04     24.997
2012-01-05     25.252
2012-01-03     55.414
2012-01-04     55.711
2012-01-05     56.330

In [27]:
withDups['2012-01-03']

            Adj Close
Date
2012-01-03     24.422
2012-01-03     55.414

In [28]:
closes =  pd.concat([msftA1[:3],aaplA01[:3]],keys=['MSFT','AAPL'])
closes

                 Adj Close
     Date
MSFT 2012-01-03     24.422
     2012-01-04     24.997
     2012-01-05     25.252
AAPL 2012-01-03     55.414
     2012-01-04     55.711
     2012-01-05     56.330

In [29]:
closes.index

MultiIndex([('MSFT', '2012-01-03'),
            ('MSFT', '2012-01-04'),
            ('MSFT', '2012-01-05'),
            ('AAPL', '2012-01-03'),
            ('AAPL', '2012-01-04'),
            ('AAPL', '2012-01-05')],
           names=[None, 'Date'])

In [34]:
closes.loc['MSFT']

            Adj Close
Date
2012-01-03     24.422
2012-01-04     24.997
2012-01-05     25.252

In [36]:
msftAV = msft[['Adj Close','Volume']]
aaplAV = msft[['Adj Close','Volume']]
pd.concat([msftAV, aaplAV])

            Adj Close    Volume
Date
2012-01-03     24.422  64731500
2012-01-04     24.997  80516100
2012-01-05     25.252  56081400
2012-01-06     25.644  99455500
2012-01-09     25.307  59706800
...               ...       ...
2012-12-21     25.750  98776500
2012-12-24     25.385  20842400
2012-12-26     25.197  31631100
2012-12-27     25.291  39394000
2012-12-28     24.906  28239900

[498 rows x 2 columns]

In [37]:
aaplA = aapl[['Adj Close']]
pd.concat([msftAV, aaplA])

            Adj Close     Volume
Date
2012-01-03     24.422  6.473e+07
2012-01-04     24.997  8.052e+07
2012-01-05     25.252  5.608e+07
2012-01-06     25.644  9.946e+07
2012-01-09     25.307  5.971e+07
...               ...        ...
2012-12-21     70.602        NaN
2012-12-24     70.716        NaN
2012-12-26     69.741        NaN
2012-12-27     70.021        NaN
2012-12-28     69.278        NaN

[498 rows x 2 columns]

In [39]:
pd.concat([msftAV,aaplA], join='inner')

            Adj Close
Date
2012-01-03     24.422
2012-01-04     24.997
2012-01-05     25.252
2012-01-06     25.644
2012-01-09     25.307
...               ...
2012-12-21     70.602
2012-12-24     70.716
2012-12-26     69.741
2012-12-27     70.021
2012-12-28     69.278

[498 rows x 1 columns]

In [42]:
msftAV.size

498

In [43]:
aaplA.size

249

In [46]:
mstfA = msft[['Adj Close']]
closes = pd.concat([mstfA, aaplA], axis=1)
closes.head()

            Adj Close  Adj Close
Date
2012-01-03     24.422     55.414
2012-01-04     24.997     55.711
2012-01-05     25.252     56.330
2012-01-06     25.644     56.919
2012-01-09     25.307     56.829

In [48]:
pd.concat([msftAV[:5],aaplAV[:3]], axis=1,keys=['MSFT','AAPL'])

                MSFT                AAPL
           Adj Close    Volume Adj Close     Volume
Date
2012-01-03    24.422  64731500    24.422  6.473e+07
2012-01-04    24.997  80516100    24.997  8.052e+07
2012-01-05    25.252  56081400    25.252  5.608e+07
2012-01-06    25.644  99455500       NaN        NaN
2012-01-09    25.307  59706800       NaN        NaN

In [49]:
pd.concat([msftAV[:5],aaplAV[:3]], join='inner',keys=['MSFT','AAPL'])

                 Adj Close    Volume
     Date
MSFT 2012-01-03     24.422  64731500
     2012-01-04     24.997  80516100
     2012-01-05     25.252  56081400
     2012-01-06     25.644  99455500
     2012-01-09     25.307  59706800
AAPL 2012-01-03     24.422  64731500
     2012-01-04     24.997  80516100
     2012-01-05     25.252  56081400

In [51]:
pd.concat([mstfA[:3],aaplA[:3]], ignore_index=True)

   Adj Close
0     24.422
1     24.997
2     25.252
3     55.414
4     55.711
5     56.330

## Merging DataFrame objects